.header__titel {
  font-size: var(--headerTitel);
  text-transform: uppercase;
}

.pagina__inleiding {
  font-size: var(--paginaInleiding);
}

.countdown {
  font-size: 10.2rem;
  font-family: "hkGrotesk";
}

.titel--twee {
  text-align: center;
}

.pagina__inleiding--twee {
  text-align: center;
}

.topicTitel {
  font-size: var(--topicTitel);
}

.topicTitel::first-letter {
  text-transform: capitalize;
}
