.container--kits {
  max-width: 90%;
  margin: 4rem auto;
}

.intro__wrapper {
  display: flex;
}

.kits__titel {
  font-size: 5.5rem;
  color: var(--kleurRood);
  margin-bottom: 2rem;
}

.kits__titel::first-letter .kits__subtitel::first-letter {
  text-transform: capitalize;
}

.kits__subtitel::first-letter {
  text-transform: capitalize;
}

.kits__inleiding {
  font-size: 2rem;
  max-width: 50rem;
}

.flamingo {
  position: absolute;
  top: 26rem;
  right: 13rem;
  z-index: -1;
}

.buttons--kit {
  margin: 9.3rem 0 18rem;
}

.kit__section {
  margin-bottom: 15rem;
  display: flex;
}

.kit__wrapper {
  margin-bottom: 4rem;
}

.kits__subtitel {
  font-size: 5.2rem;
  color: var(--kleurRood);
}

.materiaal__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0 0;

  max-width: 46rem;
}

.kit__grid {
  position: absolute;
  z-index: -1;
}

.materiaal__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--kleurBlauw);
  border-radius: 0.8rem;
  margin: 1rem;
  padding: 1.6rem;

  box-shadow: 0.3rem 0.3rem 0 #d8ecff;
}

.materiaal__naam {
  font-size: 2rem;
}

.materiaal__naam::first-letter {
  text-transform: uppercase;
}

.pakket__foto {
}

.prijs__wrapper {
  display: flex;
  align-items: center;
}

.pakket__prijs {
  font-size: 5.2rem;
  color: var(--kleurRood);
}

.kit__image--wrapper {
  right: 15rem;
  position: absolute;
}

.wrapwrap {
  display: flex;
}

@media only screen and (max-width: 1580px) {
  .flamingo {
    top: 30rem;
    right: 9rem;
  }

  .kit__image--wrapper {
    right: 1rem;
    position: absolute;
  }
}

@media only screen and (max-width: 1490px) {
  .flamingo {
    top: 30rem;
    right: 0;
  }
}

@media only screen and (max-width: 1305px) {
  .flamingo {
    display: none;
  }

  .wrapwrap {
    flex-direction: column;
  }

  .kit__image--wrapper {
    position: relative;
  }

  .container--kits {
    max-width: 80%;
  }
}

@media only screen and (max-width: 414px) {
  .container--kits {
    max-width: 90%;
  }
  .kits__subtitel {
    font-size: 4.2rem;
  }
  .kits__inleiding {
    font-size: 2rem;
    max-width: 35rem;
  }

  .materiaal__grid {
    grid-template-columns: none;
  }

  .kit__grid {
    display: none;
  }
}

@media only screen and (max-width: 320px) {
  .kits__titel {
    font-size: 4.5rem;
  }
  .kits__inleiding {
    max-width: 27rem;
  }
  .pakket__prijs {
    font-size: 3.2rem;
  }
  .kits__subtitel {
    font-size: 3.2rem;
  }
  .materiaal__wrapper {
    max-width: 83vw;
  }
}
