.container {
  max-width: 96rem;
  margin: 0 auto;
}

.navigation__list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 4.5rem;
  font-size: var(--paginaStandaard);
  font-family: Grotesk;
  font-weight: bold;
}

.link__item--home {
  background: url(../assets/logos/logo.png) no-repeat;
  display: block;
  width: 9.7rem;
  height: 11.6rem;
}

.navigation__item--button {
  background-color: var(--kleurRood);
  color: var(--kleurWit);
  padding: 1.5rem;
  border-radius: 0.2rem;

  filter: drop-shadow(0.4rem 0.3rem 0 var(--kleurDRood));
}

.navigation__item--button:hover {
  background-color: var(--kleurDRood);
  filter: drop-shadow(0.4rem 0.3rem 0 var(--kleurRood));
}

.link__item {
  padding: 4rem;
  text-decoration: none;
  color: var(--kleurDBlauw);
  text-transform: capitalize;
}

.link__item:hover {
  color: var(--kleurRood);
}

.footer {
  background-color: var(--kleurZand);
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  margin-top: 9rem;
  padding: 2rem;
}

.container--sponsor {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 920px) {
  .link__item {
    padding: 0;
  }
}

@media only screen and (max-width: 919px) {
  .navigation__item--button {
    display: none;
  }
}

@media only screen and (max-width: 834px) {
  .navigation__item {
    font-size: 2.1rem;
  }
}

@media only screen and (max-width: 754px) {
  .navigation__item--button {
    font-size: ;
  }
}
