.container {
  width: 96rem;
  margin: var(--center);
}

.navigation__list {
  display: flex;
  font-size: var(--paginaStandaard);
  align-items: center;
  margin: 1.8rem 0 auto;
  position: relative;
  z-index: 1;
}

.home__image {
  background: url(../assets/logos/logo.png) no-repeat;
  width: 9.7rem;
  height: 11.6rem;
}


.navigation__item {
  text-decoration: none;
  margin: 10rem;
  text-transform: capitalize;
  color: var(--kleurDBlauw)
}

.navigation__item:hover {
  color: var(--kleurRood);
}
