@import url(reset.css);
@import url(layout.css);
@import url(vars.css);

@import url(index.css);
@import url(about.css);
@import url(kits.css);
@import url(form.css);
@import url(tutorial.css);

html {
  font-size: 62.5%;
  background-color: var(--kleurWit);
  letter-spacing: -0.2px;
  box-sizing: border-box;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #466c90;
  scroll-behavior: smooth;
}

body {
  font-family: grotesk;
  font-weight: normal;
  line-height: 1.2;
}
/* stylelint-disable */
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* stylelint-enable */
.hidden {
  display: none;
}

.container {
  margin: 0 auto;
}

.wf-grotesk-n4-active body {
  font-family: grotesk;
}
