.container--tutorial {
  max-width: 90%;
  margin: 0 auto;
}

.button__wrapper {
  margin-left: 36rem;
  margin-top: 8rem;

  margin: 10rem 0 0 36rem;
}

.tut__wrapper {
  margin-left: 5rem;
}

.step {
  margin-left: 35rem;
}

.tutorial__grid {
  margin: 0 0 15rem -11rem;
}

.titel__tutorial {
  font-size: var(--titelTut);
  color: var(--kleurRood);
}

.tutorial__uitleg {
  font-size: var(--paginaTekst);
  margin-bottom: 3.3rem;
}

.materiaal--lijst__wrapper {
  display: flex;
  flex-wrap: wrap;

  position: absolute;
  top: 56rem;
  right: 50rem;
}

@media only screen and (max-width: 1440px) {
  .materiaal--lijst__wrapper {
    right: 30rem;
  }
}

@media only screen and (max-width: 1016px) {
  .materiaal--lijst__wrapper {
    right: 5rem;
  }

  .tutorial__grid {
    margin-left: -21rem;
  }
}

@media only screen and (max-width: 834px) {
  .tutorial__grid {
    margin-left: -33rem;
  }

  .materiaal--lijst__wrapper {
    margin-top: 3rem;
  }

  .button__wrapper {
    display: flex;
  }

  .button__wrapper {
 
    margin: 10rem 0 0 32rem;
    display: flex;
}
}
