:root {
  /* fontsizes */
  --titelEnorm: 5.5rem;
  --grootsteTitels: 5.2rem;
  --groteTitels: 4.2rem;
  --titels: 3.2rem;
  --titelTut: 3rem;
  --paginaTekstGroot: 2.2rem;
  --paginaTekst: 2rem;
  --paginaStandaard: 1.9rem;
  --form: 1.6rem;
  --paginaKleineTekst: 1.5rem;

  /* colours */
  --kleurRood: #ef695d;
  --kleurDRood: #c9594f;
  --kleurDBlauw: #466c90;
  --kleurWater: #6d9fcf;
  --kleurWit: #fffffc;
  --kleurBlauw: #eff5f8;
  --kleurZand: #fef1d9;
  --kleurSchaduw: #cae2e6;
}
