:root {
  /* fontsizes */
  --titel:6.2rem;
  --titelTwee:5.2rem;
  --subTitel: 4.2rem;
  --onderTitel:3.2rem;
  --inleiding: 2rem;
  --paginaStandaard: 1.9rem;
  --paginaNote: 1.5rem;

  /* margins */
  --center: 0 auto;

  /* colours */
  --kleurRood: #ef695d;
  --kleurDRood: #c9594f;
  --kleurDBlauw: #466c90;
  --kleurWit: #fffffc;
  --kleurBlauw: #eff5f8;
}
