@font-face {
  font-family: "testfont";
  src: url("./fonts/grotesk/HKGrotesk-Regular.woff2") format("woff2"),
    url("./fonts/grotesk/HKGrotesk-Regular.woff") format("woff");

  font-weight: normal;
  font-style: normal;
}
