/* @font-face {
  font-family: "Grotesk";
  src: url("./fonts/grotesk/HKGrotesk-Regular.woff2") format("woff2"),
    url("./fonts/grotesk/HKGrotesk-Regular.woff") format("woff");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Grotesk";
  src: url("./fonts/grotesk/HKGrotesk-Medium.woff2") format("woff2"),
    url("./fonts/grotesk/HKGrotesk-Medium.woff") format("woff");

  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Grotesk";
  src: url("./fonts/grotesk/HKGrotesk-Light.woff2") format("woff2"),
    url("./fonts/grotesk/HKGrotesk-Light.woff") format("woff");

  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Grotesk";
  src: url("./fonts/grotesk/HKGrotesk-ExtraBold.woff2") format("woff2"),
    url("./fonts/grotesk/HKGrotesk-ExtraBold.woff") format("woff");

  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "Grotesk";
  src: url("./fonts/grotesk/HKGrotesk-Bold.woff2") format("woff2"),
    url("./fonts/grotesk/HKGrotesk-Bold.woff") format("woff");

  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Grotesk";
  src: url("./fonts/grotesk/HKGrotesk-Black.woff2") format("woff2"),
    url("./fonts/grotesk/HKGrotesk-Black.woff") format("woff");

  font-weight: 900;
  font-style: normal;
} */
